pkgbase = portkill
	pkgdesc = Advanced port management and network analysis tool with performance benchmarking
	pkgver = 3.1.1
	pkgrel = 1
	url = https://github.com/mr-tanta/portkill
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = procps-ng
	depends = iproute2
	optdepends = bc: for advanced mathematical calculations in benchmarking
	optdepends = openbsd-netcat: for enhanced network connectivity testing
	optdepends = lsof: for exact process detection with lsof
	optdepends = psmisc: for fuser fallback process detection
	optdepends = net-tools: for netstat fallback process detection
	optdepends = docker: for Docker container management
	backup = etc/portkill/portkill.conf
	source = portkill-3.1.1.tar.gz::https://github.com/mr-tanta/portkill/archive/v3.1.1.tar.gz
	sha256sums = f16e6e27aea630b245f1fdddfd45b6c2421f1c4e4c8d2801f63d3053b4835075

pkgname = portkill
